# Ignore unpacked HepMC3 event files (commit only compressed!)
# Gzip compressed files are recommended as the HepMC3 reader
# utility in JetReconstruction will automatically detect .gz
# files and read them with CodecZlib (so they do not need to be
# decompressed on disk)
*.hepmc3

# Additional HepMC3 files should not be committed into this repository
# because they are far too large for the package itself - they should be
# in the JetReconstructionBenchmarks.jl repo instead.
#
# Prefix these event files with "benchmark" if they are stashed here
# temporarily (previously they had names like "events-pp-20TeV-50GeV.hepmc3")
benchmark-*
events-*

# Ignore manifest for the helper script
Manifest.toml
